<a href="https://colab.research.google.com/github/ParkGeunHae/cospro2/blob/main/Cospro_2%EA%B8%89_5%ED%9A%8C_Teacher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 채우기

### 문제 1.사다리게임
6명이 사다리 게임[^1] 을 할 때, 몇 번째 위치에서 시작하는 사람이 상품을 타는지 알고 싶습니다. 가로줄은 항상 인접한 세로줄만 연결할 수 있으며 주어진 순서대로 위에서부터 연결합니다.

예를 들어, 아래 사다리의 가로줄은 [[1, 2], [3, 4], [2, 3], [4, 5], [5, 6]] 으로 표현합니다. 이때 1번째 위치에서 시작한 사람이 상품을 탑니다.

![image.png]()

가로줄의 위치가 담긴 2차원 배열 ladders와 상품의 위치 win이 매개변수로 주어질 때, 당첨자의 시작 위치를 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

가로줄의 위치가 담긴 2차원 배열 ladders와 상품이 있는 위치 win이 solution 함수의 매개변수로 주어집니다.
* 가로줄의 개수는 1 이상 20 이하인 자연수입니다.
* win은 1 이상 6 이하인 자연수입니다.
* 가로줄은 항상 연결할 수 있는 형태만 주어집니다.

▣ return 값 설명

승리하는 사람의 시작 위치를 return 합니다.

▣ 예시

    | ladders                                  | win | return |
    |------------------------------------------|-----|--------|
    | [[1, 2], [3, 4], [2, 3], [4, 5], [5, 6]] | 3   | 1      |


[^1]: 사다리 게임은 먼저 사람 수만큼 세로줄을 긋고 한쪽 편에는 이름을 쓰고 반대쪽에는 상품 위치를 씁니다. 서로 인접한 세로줄 사이에 가로줄을 무작위로 그은 다음 세로줄을 타고 내려가면서 가로줄을 만날 때마다 가로줄로 연결된 다른 세로줄로 가는 게임입니다.

In [ ]:
# SWAP
X, Y = 10, 20
X, Y = Y, X
print(X, Y)

20 10

In [ ]:
def solution2(ladders, win):
    player = [0, 1, 2, 3, 4, 5, 6]
    for a, b in ladders:
        player[a], player[b] = player[b], player[a]
    return player[win]

def solution(ladders, win):
    answer = 0
    player = [1, 2, 3, 4, 5, 6]
    for e in ladders:
        # SWAP (player[e[0]-1], player[e[1]-1])
        temp = player[e[0]-1]
        player[e[0]-1] = player[e[1]-1]
        player[e[1]-1] = temp
        #print(player)
    answer = player[win-1]
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
ladders = [[1, 2], [3, 4], [2, 3], [4, 5], [5, 6]]
win = 3
ret = solution2(ladders, win)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 1 입니다.

### 문제 2.공강

공강이란 수업 시간 사이에 수업이 없이 비는 시간입니다. 시간표가 주어질 때 공강은 총 몇 시간인지 구하려 합니다. 시간표 상에 수업이 있는 시간은 1로, 수업이 없는 시간은 0으로 표시합니다. 모든 수업은 정각에 시작해 1시간 뒤에 끝납니다.

    시간표 [1, 1, 0, 0, 1, 0, 1, 0, 0, 0]

예를 들어, 위 시간표에서 공강은 총 3시간입니다.
공강이 총 몇 시간인지 구하기 위해 다음과 같이 프로그램 구조를 작성했습니다.

1. 가장 첫 수업 시작 시각을 구합니다.
2. 가장 마지막 수업 시작 시각을 구합니다.
3. 1과 2사이에서 수업이 없는 시간을 셉니다.

시간표를 표현한 배열 time_table이 매개변수로 주어질 때 공강은 총 몇 시간인지 return 하도록 solution 함수를 작성하려 합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수와 매개변수를 알맞게 채워주세요.


▣ 매개변수 설명

시간표를 표현한 배열 time_table이 solution 함수의 매개변수로 주어집니다.
* time_table은 길이가 5 이상 15 이하인 배열입니다.
* 시간표에서 수업이 있는 시간은 1로 표현하고 수업이 없는 시간은 0입니다.
* time_table의 원소는 0 또는 1입니다.

▣ return 값 설명

공강이 총 몇 시간인지 return 해주세요.

▣ 예시

    | time_table                     | return |
    |--------------------------------|--------|
    | [1, 1, 0, 0, 1, 0, 1, 0, 0, 0] | 3 	 |

▣ 예시 설명

문제에 나온 예와 같습니다.

In [ ]:
1. 가장 첫 수업 시작 시각을 구합니다.
2. 가장 마지막 수업 시작 시각을 구합니다.
3. 1과 2사이에서 수업이 없는 시간을 셉니다.

In [ ]:
time_table = [1, 1, 0, 0, 1, 0, 1, 0, 0, 0]
list(reversed(list(enumerate(time_table))))

[(9, 0),
 (8, 0),
 (7, 0),
 (6, 1),
 (5, 0),
 (4, 1),
 (3, 0),
 (2, 0),
 (1, 1),
 (0, 1)]

In [ ]:
time_table = [1, 1, 0, 0, 1, 0, 1, 0, 0, 0]
list(enumerate(time_table))[::-1]

[(9, 0),
 (8, 0),
 (7, 0),
 (6, 1),
 (5, 0),
 (4, 1),
 (3, 0),
 (2, 0),
 (1, 1),
 (0, 1)]

In [ ]:
# 2. 가장 마지막 수업 시작 시각을 구합니다.
def func_a(time_table):
    answer = 0
    #for i, t in reversed(list(enumerate(time_table))):
    for i, t in list(enumerate(time_table))[::-1]:
        if t == 1:
            answer = i
            break
    return answer

# 3. 1과 2사이에서 수업이 없는 시간을 셉니다.
def func_b(time_table, class1, class2):
    answer = 0
    for i in range(class1, class2):
        if time_table[i] == 0:
            answer += 1
    return answer

#1. 가장 첫 수업 시작 시각을 구합니다.
def func_c(time_table):
    answer = 0
    for i, t in enumerate(time_table):
        if t == 1:
            answer = i
            break
    return answer

def solution(time_table):
    answer = 0
    first_class = func_c(time_table)
    last_class = func_a(time_table)
    answer = func_b(time_table, first_class, last_class)
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
time_table = [1, 1, 0, 0, 1, 0, 1, 0, 0, 0]
ret = solution(time_table)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 3 입니다.

### 문제 3.벌금

모든 속도위반 차량이 낼 벌금이 총 몇만 원인지 알아내려 합니다. 벌금을 매기는 기준은 다음과 같습니다.

    | 기준                             | 벌금  |
    |----------------------------------|-------|
    | 규정 속도 10% 이상 20% 미만 위반 | 3만원 |
    | 규정 속도 20% 이상 30% 미만 위반 | 5만원 |
    | 규정 속도 30% 이상 위반          | 7만원 |

예를 들어 규정 속도가 100인 도로를 112로 달렸다면 규정 속도를 12% 위반하였습니다. 따라서 규정 속도를 10% 이상 20% 미만 위반 하였으므로 벌금 3만 원을 부과합니다.

규정 속도 speed와 도로를 달리는 모든 차의 속도가 담긴 배열 cars가 매개변수로 주어질 때, 총벌금은 몇만 원인지 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

규정 속도 speed와 도로를 달리는 모든 차의 속도가 담긴 배열 cars가 solution 함수의 매개변수로 주어집니다.
* 규정 속도는 30 이상 140 이하이며, 10으로 나누어 떨어지는 숫자입니다.
* 도로를 달리는 차의 수는 1대 이상 40대 이하입니다.
* 모든 차는 0km/h 이상 200km/h 이하로 달립니다.

▣ return 값 설명

도로를 달리는 모든 차의 벌금은 총 몇만 원인지 return 해주세요.

▣ 예시

    | speed | cars                              | return |
    |-------|-----------------------------------|--------|
    | 100   | [110, 98, 125, 148, 120, 112, 89] | 23     |

▣ 예시 설명

    | 기준                             | 위반 차량 | 총벌금  |
    |----------------------------------|-----------|---------|
    | 규정 속도 10% 이상 20% 미만 위반 | 2대       | 6만원   |
    | 규정 속도 20% 이상 30% 미만 위반 | 2대       | 10만원  |
    | 규정 속도 30% 이상 위반   	   | 1대       | 7만원   |

In [ ]:
speed = 100
x = 112
x >= speed * 11 / 10, x < speed * 12 / 10
speed * 11 / 10, speed * 12 / 10, speed * 13 / 10

(110.0, 120.0, 130.0)

In [ ]:
speed = 100
speed * 1.1, speed * 1.2, speed * 1.3

(110.00000000000001, 120.0, 130.0)

In [ ]:
x = 110
x >= speed * 1.1  # 오류 - 컴퓨터에서 실수 저장하는 방법 때문에 발생, www.binaryconvert.com
# 실수는 실제 메모리에 저장될 때 실제 값보다 약간 작거나 큰 값으로 저장될 수 있기 때문에
# 연산시 오차가 발생할 수 있다.

False

In [ ]:
def solution(speed, cars):
    answer = 0
    for x in cars:
        if x >= speed * 11 / 10 and x < speed * 12 / 10:
            answer += 3
        elif x >= speed * 12 / 10 and x < speed * 13 / 10:
            answer += 5
        elif x >= speed * 13 / 10:
            answer += 7
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
speed = 100
cars = [110, 98, 125, 148, 120, 112, 89]
ret = solution(speed, cars)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 23 입니다.

### 문제 4. 점수 산출
종목은 태권도, 500m 달리기, 사격 경기를 하려 합니다. 종목별 점수 산출 방식은 다음과 같습니다.

    | 종목        |        점수 산출 방식                                                                  |
    |-------------|----------------------------------------------------------------------------------------|
    | 태권도      | 25경기 이상 승리하면 250점. 그 외에는 승리당 8점                                       |
    | 500m 달리기 | 60초에 완주 시 250점. 그보다 빠르면 1초당 +5점 느리면 1초당 -5점                       |
    | 사격        |10번 사격해 과녁에 적힌 숫자의 합만큼 점수 획득. 7번 이상 10점에 맞추면 추가 점수 100점 |

태권도에서 승리한 횟수 taekwondo, 달리기 기록 running, 사격 기록이 담긴 배열 shooting이 매개변수로 주어질 때, 이 선수가 획득한 총점수를 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

태권도에서 승리한 횟수 taekwondo, 달리기 기록 running, 사격 기록이 담긴 배열 shooting이 solution 함수의 매개변수로 주어집니다.
* 태권도에서는 0회 이상 35회 이하 승리할 수 있습니다.
* 달리기 기록은 초 단위이며 40 이상 120 이하인 정수입니다.
* 사격은 총 10번 하며, 과녁에는 0부터 10까지의 숫자가 적혀있습니다.

▣ return 값 설명

이 선수가 획득한 총점수를 return 해주세요.

▣ 예시

    | taekwondo | running | shooting                              | return |
    |-----------|---------|---------------------------------------|--------|
    | 27        | 63      | [9, 10, 8, 10, 10, 10, 7, 10, 10, 10] | 679    |

▣ 예시 설명

태권도에서 25회 이상 승리했기 때문에 250점을 획득했습니다.
달리기에서 60초보다 3초 느렸기 때문에 250점에서 15점을 뺀 235점을 획득했습니다.
사격에서 과녁을 맞혀 94점을 받았고, 10점을 7번 맞췄기 때문에 추가 점수 100점을 받아 총 194점을 획득했습니다.
따라서 이 선수가 받은 총점수는 679점입니다.

In [ ]:
running = 63
250 + (60 - running) * 5

235

In [ ]:
shooting = [9, 10, 8, 10, 10, 10, 7, 10, 10, 10]
shooting.count(10)

7

In [ ]:
def solution2(taekwondo, running, shooting):
    # 태권도
    answer = 250 if taekwondo >= 25 else taekwondo * 8

    # 달리기
    answer += (250 + (60 - running) * 5)

    # 사격
    answer += sum(shooting)
    if shooting.count(10) >= 7:
        answer += 100

    return answer

def solution(taekwondo, running, shooting):

    answer = 0
    # 태권도
    if taekwondo >= 25:
    	answer += 250
    else:
    	answer += taekwondo * 8

    # 달리기
    answer += 250 + (60 - running) * 5

    # 사격
    count = 0
    for s in shooting:
    	answer += s
    	if s == 10:
    		count += 1
    if count >= 7:
    	answer += 100
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
taekwondo = 27
running = 63
shooting = [9, 10, 8, 10, 10, 10, 7, 10, 10, 10]
ret = solution2(taekwondo, running, shooting)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 679 입니다.

## 한 줄 바꾸기

### 문제 5.장날

X일장은 X일마다 열리는 시장을 뜻합니다. 예를 들어 오늘 4일장이 열렸다면, 다음 4일장은 4일 뒤에 열립니다. 오늘부터 a일장과 b일장 제도를 시행하려 합니다. 정수 a, b가 주어졌을 때, a일장과 b일장이 같이 열리는 날은 며칠에 한 번씩 있는지 구하려 합니다.

예를 들어, a가 4이고 b가 6이라면 시장은 다음과 같이 열립니다.

![image.png]()

a와 b가 매개변수로 주어질 때, a일장과 b일장이 같이 열리는 날은 며칠에 한 번씩 있는지 return 하도록 solution 함수를 작성했습니다. 그러나, 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 **한 줄**만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.


▣ 매개변수 설명

a일장이 열리는 주기인 a와 b일장이 열리는 주기인 b가 solution 함수의 매개변수로 주어집니다.

* a와 b는 1 이상 30 이하인 자연수입니다.

▣ return 값 설명

a일장과 b일장이 같이 열리는 날은 며칠에 한 번씩 있는지 return 해주세요.

▣ 예시

    | a   | b    | return |
    |-----|------|--------|
    | 4   | 6    | 12     |

▣ 예시 설명

문제의 예와 같습니다.

In [ ]:
# 4 8 12 16 20 24 ..
# 6 12 18 24 ..
# 최소 공배수

In [ ]:
def solution(a, b):
    answer = 0
    for i in range(1, b + 1):  # i = 1, 2, ... 6
        if (a * i) % b == 0:   # 4 % 6, 8 % 6, 12 % 6,# 16 % 6, 20 % 6, 24 % 6
            answer = a * i   # 수정된 부분
            break
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니, 위의 코드만 수정하세요.
a = 4
b = 6
ret = solution(a, b)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 12 입니다.

### 문제 6.점수 구하기

국어 시험 점수와 영어 시험 점수가 나왔습니다. 이때 국어, 영어, 수학 시험의 평균이 70점 이상이려면 수학 시험 점수가 최소 몇 점이어야 하는지 알고 싶습니다.

국어 점수 korean과 영어 점수 english가 매개변수로 주어질 때, 평균 점수를 70점 이상 받기 위해 받아야 하는 수학 점수의 최솟값을 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.


▣ 매개변수 설명

국어 점수 korean과 영어 점수 english가 solution 함수의 매개변수로 주어집니다.
* korean과 english는 0 이상 100 이하인 정수입니다.

▣ return 값 설명

평균 70점을 넘기기 위해 받아야 하는 수학 점수의 최솟값을 return 합니다.
* 수학 점수를 100점을 받아도 평균 70점이 되지 않는 경우에는 -1을 return 합니다.

▣ 예시

    | korean | english | return |
    |--------|---------|--------|
    | 70 	| 60      | 80     |

▣ 예시 설명

국어 점수가 70점, 영어 점수가 60점입니다. 따라서 평균이 70점 이상을 받으려면 수학 시험에서 최소 80점을 받아야 합니다.

In [ ]:
def solution2(korean, english):
    math = 210 - (korean + english)  # 수정사항
    return -1 if math > 100 else math

def solution(korean, english):
    answer = 0
    math = 210 - (korean + english)  # 수정사항
    if math > 100:
        answer = -1
    else:
        answer = math
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니 위의 코드만 수정하세요.
korean = 70
english = 60
ret = solution(korean, english)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 80 입니다.

### 문제 7.계산시간
XX 마트에선 구매할 물건이 3개 이하이면 소량 계산대에서, 그렇지 않으면 일반 계산대에서 계산해야 합니다. 두 계산대 모두 물건 한 개를 계산하는 데 1분이 걸립니다.

손님들이 구매할 물건 수가 담긴 배열 stuffs가 매개변수로 주어질 때, 모든 물건을 계산하는 데 필요한 시간을 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.


▣ 매개변수 설명

손님들이 구매할 물건 수가 담긴 배열 stuffs가 solution 함수의 매개변수로 주어집니다.
* 계산을 할 손님은 1명 이상 100명 이하입니다.
* 손님이 구입할 물건은 1개 이상 20개 이하입니다.

▣ return 값 설명

모든 물건을 계산하는데 걸리는 시간을 return 해주세요.

▣ 예시

    | stuffs             | return |
    |--------------------|--------|
    | [5, 3, 4, 2, 3, 2] | 10     |

▣ 예시 설명

첫 번째 손님, 세 번째 손님은 일반 계산대에서 계산합니다. 이때 9분이 걸립니다.
두 번째, 네 번째, 다섯 번째, 여섯 번째 손님은 소량 계산대에서 계산합니다. 이때 10분이 걸립니다.
따라서 모든 물건을 계산하는데 걸리는 시간은 10분입니다.

In [ ]:
def solution(stuffs):
    answer = 0
    small_counter, general_counter = 0, 0
    for s in stuffs:
        if s > 3:
            general_counter += s
        else:
            small_counter += s
    # expression의 형태
    if small_counter > general_counter:   # 수정부분
        answer = small_counter
    else:
        answer = general_counter
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니 위의 코드만 수정하세요.
stuffs = [5, 3, 4, 2, 3, 2]
ret = solution(stuffs)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret, " 입니다.")

solution 함수의 반환 값은  10  입니다.

### 문제 8.상수도 요금

상수도 요금을 계산하려 합니다. 가정용 상수도 사용요금 계산방법은 아래와 같습니다.

    | 단계  | 사용량    | 요금  |
    |-------|-----------|-------|
    | 1단계 | 0~20톤    | 430원 |
    | 2단계 | 21~30톤   | 570원 |
    | 3단계 | 31톤 이상 | 840원 |

사용료는 사용량에 따라 단계별로 적용됩니다. 예를 들어, 물을 35톤 사용했다면 다음과 같은 방식으로 계산합니다.

* 1단계 적용 : 20톤 x 430원 = 8,600원
* 2단계 적용 : 10톤 x 570원 = 5,700원
* 3단계 적용 : 5톤 x 840원 = 4,200원

총 사용요금 : 18,500원

상수도 사용량 usage가 매개변수로 주어질 때, 사용요금을 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 **한 줄**만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.


▣ 매개변수 설명

상수도 사용량 usage가 solution 함수의 매개변수로 주어집니다.
* 상수도 사용량은 0톤 이상 100톤 이하인 정수입니다.

▣ return 값 설명

사용요금을 return 해주세요.

▣ 예시

    | usage | return |
    |-------|--------|
    | 35	| 18500  |

▣ 예시 설명

문제에 나온 예와 같습니다.

In [ ]:
| 1단계 | 0~20톤    | 430원 |
| 2단계 | 21~30톤   | 570원 |
| 3단계 | 31톤 이상 | 840원 |

In [ ]:
usage = 35
infoT = [[20, 430], [10, 570], [70, 840]]
answer = 0
for ton, price in infoT:
    #print(ton, price)
    if ton <= usage:
        answer += (ton * price)
        usage -= ton
    else:
        answer += (usage * price)
    print(answer)
#answer

8600
14300
18500

In [ ]:
# 반복문, infoT
def solution2(usage):
    infoT = [[20, 430], [10, 570], [70, 840]]
    answer = 0
    for ton, price in infoT:
        if ton <= usage:
            answer += (ton * price)
            usage -= ton
        else:
            answer += (usage * price)
    return answer

def solution(usage):
    answer = 0
    if usage > 30:  # 3단계
        answer = 20 * 430 + 10 * 570 + (usage - 30) * 840   # 수정부분
    elif usage > 20:  # 2단계
        answer = 20 * 430 + (usage - 20) * 570
    else:
        answer = usage * 430
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니 위의 코드만 수정하세요.
usage = 35
ret = solution2(usage)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 18500 입니다.

## 함수 작성

### 문제 9. 순위 구하기

시험 점수에 따라 학생의 순위를 매기려 합니다. 동점자 순위는 가능한 순위 중 가장 높은 순위로 매깁니다.
예를 들어 학생별 점수가 [90, 87, 87, 23, 35, 28, 12, 46]이면, 학생별 순위는 [1, 2, 2, 7, 5, 6, 8, 4]입니다.

모든 학생의 점수를 담은 배열 score가 매개변수로 주어질 때, 순위를 담은 배열을 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

모든 학생의 점수를 담은 배열 score가 solution 함수의 매개변수로 주어집니다.
* 학생 수는 1명 이상 1,000명 이하입니다.
* 점수는 1 이상 100 이하인 정수입니다.

▣ return 값 설명

* 순위를 담은 배열을 return 합니다.

▣ 예시

    | score                            |return                    |
    |----------------------------------|--------------------------|
    | [90, 87, 87, 23, 35, 28, 12, 46] | [1, 2, 2, 7, 5, 6, 8, 4] |
    | [10, 20, 20, 30]                 | [4, 2, 2, 1]             |

▣ 예시 설명

예시 #1 : 문제에 나온 예와 같습니다.

예시 #2 : 이들의 순위는 [4, 2, 2, 1]입니다.

In [ ]:
score = [10, 20, 20, 30]
answer = [4, 2, 2, 1]
for i, curr_score in enumerate(score):
    print(i, curr_score)

0 10
1 20
2 20
3 30

In [ ]:
score = [10, 20, 20, 30]
answer = [1, 1, 1, 1]
for i in range(len(score)-1):  # curr_score의 index
    for j in range(i+1, len(score)): # curr_score의 뒤에 있는 것의 index
        print(i, j)
        if score[i] > score[j]:
            answer[j] += 1
        elif score[i] < score[j]:
            answer[i] += 1
print(answer)

0 1
0 2
0 3
1 2
1 3
2 3
[4, 2, 2, 1]

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution2(score):
	# 여기에 코드를 작성해주세요.
    answer = [1] * len(score)
    for i in range(len(score)-1):  # curr_score의 index
        for j in range(i+1, len(score)): # curr_score의 뒤에 있는 것의 index
            if score[i] > score[j]:
                answer[j] += 1
            elif score[i] < score[j]:
                answer[i] += 1
    return answer

def solution(score):
	# 여기에 코드를 작성해주세요.
    answer = [1] * len(score)
    for i, curr_score in enumerate(score):
        for comp_score in score:
            if comp_score > curr_score:
                answer[i] += 1
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
score1 = [90, 87, 87, 23, 35, 28, 12, 46]
ret1 = solution2(score1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret1, " 입니다.")

score2 = [10, 20, 20, 30]
ret2 = solution(score2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret2, " 입니다.")

solution 함수의 반환 값은  [1, 2, 2, 7, 5, 6, 8, 4]  입니다.
solution 함수의 반환 값은  [4, 2, 2, 1]  입니다.

### 문제 10. 근무 시간표

n명이 시간표에 따라 교대 근무에 들어갑니다. 이때 가장 오래 일한 사람이 몇 시간 일했는지 알아내려 합니다. 근무 순번은 첫 번째 사람부터 n번째 사람 순으로 합니다. n번 사람이 일을 한 뒤에는 다시 첫 번째 사람부터 일을 합니다.

예를 들어 시간표가 [1, 5, 1, 9]이고 n이 3이면 첫 번째 사람은 1+9시간, 두 번째 사람은 5시간, 세 번째 사람은 1시간 근무합니다. 따라서 첫 번째 사람이 가장 오래 일했으며, 10시간 일했습니다.

근무 시간표를 담은 배열 time_table과 사람 수 n이 매개변수로 주어질 때, 가장 오래 일한 사람은 몇 시간 일했는지 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

시간표를 담은 배열 time_table과 사람 수 n이 solution 함수의 매개변수로 주어집니다.
* time_table의 길이는 1 이상 100 이하입니다.
* time_table의 원소는 1 이상 100 이하인 자연수입니다.
* n은 1 이상 `time_table의 길이` 이하인 자연수입니다.

▣ return 값 설명

가장 오래 일한 사람이 몇 시간 일했는지 return 합니다.

▣ 예시

    | time_table           | n | return |
    |----------------------|---|--------|
    |[1, 5, 1, 9]          | 3 | 10     |
    | [4, 8, 2, 5, 4, 6, 7]| 4 | 14     |

▣ 예시 설명

예시 #1

앞선 예와 같습니다.

예시 #2

첫 번째 사람은 4+4시간만큼 근무를 합니다.
두 번째 사람은 8+6시간만큼 근무를 합니다.
세 번째 사람은 2+7시간만큼 근무를 합니다.
네 번째 사람은 5시간만큼 근무를 합니다.
따라서, 가장 오래 근무를 한 사람은 14시간 일했습니다.

In [ ]:
time_table = [4, 8, 2, 5, 4, 6, 7]
n = 4
#for i in range(len(time_table)):
#    print(i%n)  # 근무자 번호

for i, time in enumerate(time_table):
    print(i%n, time)

0 4
1 8
2 2
3 5
0 4
1 6
2 7

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(time_table, n):
    #여기에 코드를 작성해주세요.
    how_long = [0] * n
    for i, time in enumerate(time_table):
        how_long[i%n] += time
    return max(how_long)

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
time_table1 = [1, 5, 1, 9]
n1 = 3
ret1 = solution(time_table1, n1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

time_table2 = [4, 8, 2, 5, 4, 6, 7]
n2 = 4
ret2 = solution(time_table2, n2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

solution 함수의 반환 값은 10 입니다.
solution 함수의 반환 값은 14 입니다.