<a href="https://colab.research.google.com/github/ParkGeunHae/cospro2/blob/main/Cospro_2%EA%B8%89_%EC%BD%94%EB%93%9C%EC%9E%91%EC%84%B1%EB%AC%B8%EC%A0%9C%EB%AA%A8%EC%9D%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cospro 2급 1회

### 문제 1. 티셔츠 주문
A 학교에서는 단체 티셔츠를 주문하기 위해 학생별로 원하는 티셔츠 사이즈를 조사했습니다. 선택할 수 있는 티셔츠 사이즈는 작은 순서대로 "XS", "S", "M", "L", "XL", "XXL" 총 6종류가 있습니다.

학생별로 원하는 티셔츠 사이즈를 조사한 결과가 들어있는 배열 shirt_size가 매개변수로 주어질 때, 사이즈별로 티셔츠가 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 배열에 담아 return 하도록 solution 함수를 완성해주세요.


▣ 매개변수 설명

학생별로 원하는 사이즈를 조사한 결과가 들어있는 배열 shirt_size가 solution 함수의 매개변수로 주어집니다.
* shirt_size 의 길이는 1 이상 100 이하입니다.
* shirt_size 에는 치수를 나타내는 문자열 "XS", "S", "M", "L", "XL", "XXL" 이 들어있습니다.

▣ return 값 설명

티셔츠가 사이즈별로 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 배열에 담아 return 해주세요.
* return 하는 배열에는 [ "XS" 개수, "S" 개수, "M" 개수, "L" 개수, "XL" 개수, "XXL" 개수] 순서로 들어있어야 합니다.

▣ 예시

        | shirt_size                       | return             |
        |----------------------------------|--------------------|
        | ["XS", "S", "L", "L", "XL", "S"] | [1, 2, 0, 2, 1, 0] |

▣ 예시 설명

* "XS"와 "XL"은 각각 한 명씩 신청했습니다.
* "S"와 "L"은 각각 두 명씩 신청했습니다.
* "M"과 "XXL"을 신청한 학생은 없습니다.

따라서 순서대로 [1, 2, 0, 2, 1, 0]을 배열에 담아 return 하면 됩니다.

In [ ]:
#You may use import as below.
#import math

def solution(shirt_size):
    #Write code here.
    answer = []
    return answer

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

### 문제 2. 회원 등급

A 쇼핑몰에서는 회원 등급에 따라 할인 서비스를 제공합니다.
회원 등급에 따른 할인율은 다음과 같습니다.
(S = 실버, G = 골드, V = VIP)

        | 등급  | 할인율 |
        |-------|--------|
        | "S"   | 5%     |
        | "G"   | 10%    |
        | "V"   | 15%    |

상품의 가격 price와 구매자의 회원 등급을 나타내는 문자열 grade가 매개변수로 주어질 때, 할인 서비스를 적용한 가격을 return 하도록 solution 함수를 완성해주세요.


▣매개변수 설명

상품의 가격 price와 회원 등급 grade가 매개변수로 주어집니다.
* price는 100 이상 100,000 이하의 100단위 자연수입니다.
* grade는 "S", "G", "V" 세 가지 중 하나입니다.

▣return 값 설명

할인한 가격을 return 하도록 solution 함수를 작성해주세요.

▣예시

        | price | grade    | return |
        |-------|----------|--------|
        | 2500  | "V"      | 2125   |
        | 96900 | "S"      | 92055  |

▣ 예시 설명

예시 #1
2500원의 15%는 375원 입니다. 2500 - 375 = 2125 입니다.

예시 #2
96900원의 5%는 4845원 입니다. 96900 - 4845 = 92055 입니다.

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
    #Write code here.
    answer = 0
    return answer

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")

price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

## Cospro 2급 2회

### 문제 3. 짝수들의 제곱의 합

서로 다른 두 자연수 N과 M이 매개변수로 주어질 때, N부터 M까지의 자연수 중에서 짝수들의 제곱의 합을 return 하도록 solution 함수를 완성해주세요.


▣ 매개변수 설명

두 자연수 N과 M이 solution 함수의 매개변수로 주어집니다.
* N과 M은 1 이상 1,000 이하의 자연수이며, N < M을 항상 만족합니다.

▣ return 값 설명

N부터 M까지의 수 중에서 짝수인 수의 제곱의 합을 return 해주세요.

▣ 예시

    | N | M | return |
    |---|---|--------|
    | 4 | 7 | 52     |

▣ 예시 설명

4부터 7까지의 자연수 중에서 짝수는 4와 6입니다.

* 4^2 + 6^2 = 16 + 36 = 52

따라서 52를 return 하면 됩니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(N, M):
    #여기에 코드를 작성해주세요.
    answer = 0
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
N = 4
M = 7
ret = solution(N, M)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

### 문제 4. 단어이어붙이기

단어들이 들어있는 배열에서 길이가 5 이상인 단어를 배열에 들어있는 순서대로 이어 붙이려 합니다.

예를 들어 배열이 다음과 같은 경우

["my", "favorite", "color", "is", "violet"]

"favoritecolorviolet"을 만들면 됩니다.

단어들이 들어있는 배열 words가 solution 함수의 매개변수로 주어질 때, 길이가 5 이상인 단어를 순서대로 이어 붙인 문자열을 return 하도록 solution 함수를 완성해주세요.


▣매개변수 설명

단어들이 들어있는 배열 words가 solution 함수의 매개변수로 주어집니다.
* words의 길이는 1 이상 100 이하입니다.
* words에 들어있는 각 단어의 길이는 1 이상 10 이하이며, 알파벳 소문자로만 이루어져 있습니다.

▣ return 값 설명

길이가 5 이상인 단어를 순서대로 이어 붙여 return 해주세요.
* 만약 return 할 문자열이 빈 문자열이면 "empty"를 return 해주세요.

▣ 예시

    | words                                       | return                |
    |---------------------------------------------|-----------------------|
    | ["my", "favorite", "color", "is", "violet"] | "favoritecolorviolet" |
    | ["yes", "i", "am"]                          | "empty"               |

▣ 예시 설명

예시 #1

길이가 5 이상인 단어는 "favorite", "color", "violet" 입니다. 이를 배열에 들어있는 순서대로 이어 붙이면 "favoritecolorviolet"이 됩니다.

예시 #2

길이가 5 이상인 단어가 없으므로 "empty"를 return 하면 됩니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(words):
    #여기에 코드를 작성해주세요.
    answer = ''
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
words1 = ["my", "favorite", "color", "is", "violet"]
ret1 = solution(words1);

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret1, " 입니다.")

words2 = ["yes", "i", "am"]
ret2 = solution(words2);

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret2, " 입니다.")

## Cospro 2급 3회

### 문제 3. 체조선수 최종점수

체조선수는 여러 심사위원의 점수 중 가장 높은 점수 하나와 가장 낮은 점수 하나를 제외하고 나머지 점수들의 평균을 계산하여 최종점수를 받습니다. _단, 이때 소수점 이하의 수는 버립니다._

예를 들어, A 선수가 10명의 심사위원에게 [35, 28, 98, 34, 20, 50, 85, 74, 71, 7]의 점수를 받았습니다. 가장 높은 점수인 98점과 가장 낮은 점수인 7점을 제외하고 나머지 8명의 심사위원 점수 평균을 구하면 49.625점입니다. 여기서 소수점 이하의 수를 버리면 49점입니다.

각 심사위원이 매긴 점수가 담긴 배열 scores가 매개 변수로 주어질 때, 이 선수가 받은 점수를 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

심사위원이 준 점수가 들어있는 배열 scores가 solution 함수의 매개변수로 주어집니다.
* scores의 길이는 3 이상 100 이하입니다.
* 심사위원이 부여하는 점수의 범위는 0 이상 100 이하의 정수입니다.

▣ return 값 설명

심사위원이 준 점수 중 가장 높은 점수와 가장 낮은 점수를 제외한 점수의 평균에서 소수점을 버린 값을 return 합니다.

▣ 예시

    | scores                                  | return |
    |-----------------------------------------|--------|
    | [35, 28, 98, 34, 20, 50, 85, 74, 71, 7] | 49 	   |
    | [1, 1, 1, 1, 1]                     	| 1  	   |

▣ 예시 설명

예시 #1

문제에 나온 예와 같습니다.

예시 #2

가장 높은 점수는 1점이며, 가장 낮은 점수도 1점입니다. 1점을 두 개 제외한 나머지 점수의 합은 3점이며, 평균은 1점이 됩니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(scores):
    #여기에 코드를 작성해주세요.
    answer = 0
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
scores1 = [35, 28, 98, 34, 20, 50, 85, 74, 71, 7]
ret1 = solution(scores1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

scores2 = [1, 1, 1, 1, 1]
ret2 = solution(scores2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

### 문제 4.오타수정
영어 단어를 외우기 위해 단어를 반복하여 타이핑합니다. 그런데, 타이핑하고 보니 오타가 많습니다. 오타를 수정하려면 문자를 몇 개 바꿔야 하는지 구하려 합니다.

예를 들어, "CODE"라는 단어를 3번 타이핑했더니 ["CODE", "COED", "CDEO"] 가 적혀있었습니다.

1. "CODE"는 바르게 적혔습니다.
2. "COED"는 E와 D를 각각 D와 E로 바꾸면 됩니다.
3. "CDEO"는 D, E, O를 각각 O, D, E로 바꾸면 됩니다.
따라서 바꿔야 하는 문자는 총 5개입니다.

타이핑한 단어를 담은 배열 words와 원래 치려 한 단어인 word가 주어질 때 바꿔야 하는 문자 개수를 return 하도록 solution 함수를 완성해주세요.


▣ 매개변수 설명
타이핑한 단어를 담은 배열 words와 원래 치려 한 단어인 word가 solution 함수의 매개변수로 주어집니다.
* word는 10개 이하의 알파벳 대문자로만 이루어진 단어입니다.
* words에 담긴 문자열의 길이는 word의 길이와 같으며 모든 문자열은 알파벳 대문자로만 이루어져 있습니다.
* words에 담긴 문자열의 개수는 15 이하 자연수입니다.

▣ return 값 설명

바꾸어야 하는 문자 수를 return 해주세요.

▣ 예시

    | words            	   | word   | return |
    |--------------------------|--------|--------|
    | ["CODE", "COED", "CDEO"] | "CODE" | 5      |

▣ 예시 설명

문제에 나온 예와 같습니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(words, word):
    #여기에 코드를 작성해주세요.
    count = 0
    return count

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
words = ["CODE", "COED", "CDEO"]
word = "CODE"
ret = solution(words, word)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

## Cospro 2급 4회

### 문제 9.위험지역
4 x 4 크기 격자 모양 지형에 위험 지역이 몇개인지 알고 싶습니다. 위험지역이란 동, 서, 남, 북 인접한 지역이 모두 해당 지역보다 높은 지역입니다. 예를 들어 지역 높이가 아래와 같다면

![image.png]()

빨간 영역은 인접한 지역이 모두 해당 지역보다 높은 위험지역입니다.

지역별 높이가 담긴 2차원 배열 height가 solution 함수의 매개변수로 주어질 때, 위험 지역이 몇 개인지 return 하도록 solution 함수를 완성해주세요.

▣ 매개변수 설명
지역별 높이가 담긴 2차원 배열 height가 solution 함수의 매개변수로 주어집니다.
* 각 지역의 높이는 1 이상 50 이하인 자연수입니다.

▣ return 값 설명
위험지역이 몇 개인지 return 해주세요.

▣ 예시

    | height                                                   | return |
    |----------------------------------------------------------|--------|
    | [[3, 6, 2, 8], [7, 3, 4, 2], [8, 6, 7, 3], [5, 3, 2, 9]] | 5      |

▣ 예시 설명
문제에 나온 예와 같습니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(height):
    #여기에 코드를 작성해주세요.
    count = 0
    return count

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
height = [[3, 6, 2, 8], [7, 3, 4, 2], [8, 6, 7, 3], [5, 3, 2, 9]]
ret = solution(height)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

### 문제 10.합격자 수

XX 시험을 친 수험생들의 점수가 주어질 때, 합격자 수를 구하려 합니다. 시험에 합격하기 위해서는 커트라인 이상의 점수를 받아야 합니다.

예를 들어 수험생들의 점수가 [80점, 90점, 55점, 60점, 59점]이고, 커트라인이 60점이라면 3명이 합격했습니다.

수험생들의 시험 점수가 들어있는 배열 scores, 커트라인 점수 cutline이 매개변수로 주어질 때, 합격자 수를 return 하도록 solution 함수를 완성해주세요.


▣ 매개변수 설명

수험생들의 시험 점수가 들어있는 배열 scores, 커트라인 점수 cutline이 solution 함수의 매개변수로 주어집니다.
* scores의 원소는 각 학생의 시험 점수를 나타내며 0 이상 100 이하의 정수입니다.
* scores의 길이는 1 이상 100 이하입니다.
* cutline은 0 이상 100 이하의 정수입니다.

▣ return 값 설명

합격자의 수를 return 합니다.

▣ 예시

    | scores               | cutline | result |
    |----------------------|---------|--------|
    | [80, 90, 55, 60, 59] | 60      | 3      |

▣ 예시 설명

예시 #1

* 80점, 90점, 60점은 합격입니다.
* 55점, 59점은 불합격입니다.

따라서 3명이 합격했습니다.

In [ ]:
# 다음과 같이 import를 사용할 수 있습니다.
# import math

def solution(scores, cutline):
    # 여기에 코드를 작성해주세요.
    answer = 0
    return answer

# 아래는 테스트케이스 출력을 해보기 위한 코드입니다.
scores = [80, 90, 55, 60, 59]
cutline = 60
ret = solution(scores, cutline)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

## Cospro 2급 5회

### 문제 9. 순위 구하기

시험 점수에 따라 학생의 순위를 매기려 합니다. 동점자 순위는 가능한 순위 중 가장 높은 순위로 매깁니다.
예를 들어 학생별 점수가 [90, 87, 87, 23, 35, 28, 12, 46]이면, 학생별 순위는 [1, 2, 2, 7, 5, 6, 8, 4]입니다.

모든 학생의 점수를 담은 배열 score가 매개변수로 주어질 때, 순위를 담은 배열을 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

모든 학생의 점수를 담은 배열 score가 solution 함수의 매개변수로 주어집니다.
* 학생 수는 1명 이상 1,000명 이하입니다.
* 점수는 1 이상 100 이하인 정수입니다.

▣ return 값 설명

* 순위를 담은 배열을 return 합니다.

▣ 예시

    | score                            |return                    |
    |----------------------------------|--------------------------|
    | [90, 87, 87, 23, 35, 28, 12, 46] | [1, 2, 2, 7, 5, 6, 8, 4] |
    | [10, 20, 20, 30]                 | [4, 2, 2, 1]             |

▣ 예시 설명

예시 #1 : 문제에 나온 예와 같습니다.

예시 #2 : 이들의 순위는 [4, 2, 2, 1]입니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(score):
	# 여기에 코드를 작성해주세요.
    answer = []
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
score1 = [90, 87, 87, 23, 35, 28, 12, 46]
ret1 = solution(score1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret1, " 입니다.")

score2 = [10, 20, 20, 30]
ret2 = solution(score2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret2, " 입니다.")

### 문제 10. 근무 시간표

n명이 시간표에 따라 교대 근무에 들어갑니다. 이때 가장 오래 일한 사람이 몇 시간 일했는지 알아내려 합니다. 근무 순번은 첫 번째 사람부터 n번째 사람 순으로 합니다. n번 사람이 일을 한 뒤에는 다시 첫 번째 사람부터 일을 합니다.

예를 들어 시간표가 [1, 5, 1, 9]이고 n이 3이면 첫 번째 사람은 1+9시간, 두 번째 사람은 5시간, 세 번째 사람은 1시간 근무합니다. 따라서 첫 번째 사람이 가장 오래 일했으며, 10시간 일했습니다.

근무 시간표를 담은 배열 time_table과 사람 수 n이 매개변수로 주어질 때, 가장 오래 일한 사람은 몇 시간 일했는지 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

시간표를 담은 배열 time_table과 사람 수 n이 solution 함수의 매개변수로 주어집니다.
* time_table의 길이는 1 이상 100 이하입니다.
* time_table의 원소는 1 이상 100 이하인 자연수입니다.
* n은 1 이상 `time_table의 길이` 이하인 자연수입니다.

▣ return 값 설명

가장 오래 일한 사람이 몇 시간 일했는지 return 합니다.

▣ 예시

    | time_table           | n | return |
    |----------------------|---|--------|
    |[1, 5, 1, 9]          | 3 | 10     |
    | [4, 8, 2, 5, 4, 6, 7]| 4 | 14     |

▣ 예시 설명

예시 #1

앞선 예와 같습니다.

예시 #2

첫 번째 사람은 4+4시간만큼 근무를 합니다.
두 번째 사람은 8+6시간만큼 근무를 합니다.
세 번째 사람은 2+7시간만큼 근무를 합니다.
네 번째 사람은 5시간만큼 근무를 합니다.
따라서, 가장 오래 근무를 한 사람은 14시간 일했습니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(time_table, n):
    #여기에 코드를 작성해주세요.
    answer = 0
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
time_table1 = [1, 5, 1, 9]
n1 = 3
ret1 = solution(time_table1, n1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

time_table2 = [4, 8, 2, 5, 4, 6, 7]
n2 = 4
ret2 = solution(time_table2, n2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

## Cospro 2급 6회

### 문제 3. 유니폼 주문

단체 유니폼을 주문하려고 합니다. 사람들의 덩치를 수치로 표현할 때 주문해야 하는 유니폼의 사이즈는 다음과 같습니다.

    | 덩치              | 사이즈 |
    |-------------------|--------|
    | 95 미만           | S      |
    | 95 이상 100 미만  | M      |
    | 100 이상 105 미만 | L      |
    | 105 이상          | XL     |

사람들의 덩치를 담은 배열 people이 매개변수로 주어질 때, 주문해야 하는 유니폼 사이즈의 수를 [S, M, L, XL] 순으로 배열에 담아 return 하도록 solution 함수를 작성해주세요.

▣ 매개변수 설명

사람들의 덩치를 담은 배열 people이 solution 함수의 매개변수로 주어집니다.
* people의 길이는 1 이상 100 이하인 자연수입니다.
* 사람들의 덩치는 80 이상 120 이하인 자연수입니다.

▣ return 값 설명

주문해야 하는 유니폼 사이즈의 수를 [S, M, L, XL] 순으로 배열에 담아 return 합니다.

▣ 예시

    | people                  | return       |
    |-------------------------|--------------|
    | [97, 102, 93, 100, 107] | [1, 1, 2, 1] |

▣ 예시 설명

- 3번째 사람은 S 사이즈를 입어야합니다.
- 1번째 사람은 M 사이즈를 입어야합니다.
- 2, 4번째 사람은 L 사이즈를 입어야합니다.
- 5번째 사람은 XL 사이즈를 입어야합니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(people):
    #여기에 코드를 작성해주세요.
    answer = [0 for _ in range(4)]
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
people = [97, 102, 93, 100, 107]
ret = solution(people)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은 ", ret, " 입니다.")

### 문제 4. 카드 게임
카드를 3장 뽑아 점수를 내는 게임을 하려고 합니다. 각 카드는 색이 칠해져 있고, 숫자가 적혀 있습니다.

획득한 점수를 계산하는 규칙은 다음과 같습니다.
1. 카드 3장의 색이 모두 같다면 획득한 점수는 적힌 숫자의 총합에 3을 곱한 값입니다.
2. 카드 2장의 색이 같고, 1장의 색이 다르다면 획득한 점수는 적힌 숫자의 총합에 2를 곱한 값입니다.
3. 카드 3장의 색이 모두 다르다면 획득한 점수는 적힌 숫자의 총합입니다.

뽑은 카드의 색과 숫자를 문자열로 담은 2차원 배열 cards가 매개변수로 주어질 때, 획득한 총 점수를 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

뽑은 카드의 색과 숫자를 문자열로 담은 2차원 배열 cards가 solution 함수의 매개변수로 주어집니다.
* cards는 3x2 크기인 2차원 배열입니다.
* cards의 각 원소는 [색, 숫자] 입니다.
    * 카드의 색은 ["red", "black", "blue"] 중 하나입니다.
    * 카드에 적힌 숫자는 1 이상 9 이하인 자연수입니다.

▣ return 값 설명

획득한 총 점수를 return 합니다.

▣ 예제

    | cards                                      	 | return |
    |------------------------------------------------|--------|
    | [["blue", "2"], ["red", "5"], ["black", "3"]]  | 10 	  |
    | [["blue", "2"], ["blue", "5"], ["black", "3"]] | 20 	  |

▣ 예제 설명

예제 #1

모든 카드 색이 모두 다르기 때문에 획득한 점수는 적힌 숫자의 총합인 10 입니다.

예제 #2

두 카드 색이 같고, 1장의 색이 다릅니다. 따라서’ 획득한 점수는 적힌 숫자의 총합에 2를 곱한 20 입니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(cards):
    #여기에 코드를 작성해주세요.
    answer = 0
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
cards1 = [["blue", "2"], ["red", "5"], ["black", "3"]]
ret1 = solution(cards1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

cards2 = [["blue", "2"], ["blue", "5"], ["black", "3"]]
ret2 = solution(cards2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")